<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.common.mapping.TransCodeMapper">
	
	<select id="getTransCodeListByCodeType" parameterType="java.util.Map" 
        resultType="com.yan.common.model.TransCode">
        select * from t_trans_code where appCode=#{appCode} and codetype=#{codeType} and validStatus='1'
    </select>
    
    <select id="getTransCodeByCodeTypeAndCodeCode" parameterType="java.util.Map" 
        resultType="com.yan.common.model.TransCode">
        select * from t_trans_code where appCode=#{appCode} and codeType=#{codeType} and codeCode=#{codeCode} and validStatus='1'
    </select>
    
    <insert id="insertTransCode" parameterType="com.yan.common.model.TransCode">
    	insert into t_trans_code 
    	(appCode, codeType, codeTypeName, codeCode, codeName, codeValue, remark, validStatus, insertTime, updateTime) 
    	values 
    	(#{appCode}, #{codeType}, #{codeTypeName}, #{codeCode}, #{codeName}, #{codeValue}, #{remark}, #{validStatus}, #{insertTime}, #{updateTime})
    </insert>
    
    <update id="updateTransCodeByCodeTypeAndCodeCode" parameterType="com.yan.common.model.TransCode">
    	update t_trans_code
    	set codeTypeName=#{codeTypeName}, codeName=#{codeName}, codeValue=#{codeValue}, remark=#{remark}, validStatus=#{validStatus}, updateTime=#{updateTime}
    	where appCode=#{appCode} and codeType=#{codeType} and codeCode=#{codeCode}
    </update>
    
    <update id="updateTransCodeValidStatus" parameterType="com.yan.common.model.TransCode">
    	update t_trans_code
    	set validStatus=#{validStatus}, updateTime=#{updateTime}
    	where appCode=#{appCode} and codeType=#{codeType} and codeCode=#{codeCode}
    </update>
    
</mapper>